## Generando algunos modelos para datos discretos
En biología molecular muchas situaciones involucran eventos de conteo: cuántos codones (formado por tres nucleótidos) tienen una estructura específica (por ejemplo ATG), cuántas lecturas de ADN coinciden con una de referencia, cuántos CG se observan en una secuencia de ADN. Estos recuentos nos dan variables discretas, en contraste a cantidades tales como masa e intensidad que se miden en escalas continuas. Si conocemos las reglas que siguen los mecanismos en estudio, e incluso si los resultados son aleatorios (al azar), podemos generar las probabilidades de cualquier evento que nos interese mediante cálculos y leyes de probabilidad estándares. Hoy aprenderemos a obtener las probabilidades de todos los resultados posibles de un modelo dado.

### Un modelo teórico discreto:

#### Ensayo de Bernoulli
Lanzar una moneda tiene dos resultados posibles. Este experimento simple, llamado ensayo de Bernoulli, se modela utilizando una variable aleatoria llamada Bernoulli $X$ con parámetro $p$, donde: $0≤p≤1$, y $X:0,1$ $$P(X=x)=p^{x}(1−p)^{1−x}$$

#### Distribución Binomial
El número de éxitos en $n$ ensayos de Bernoulli con una probabilidad de éxito $p$ se denomina variable aleatoria binomial $X$ con parámetros $n$ y $p$, donde:  $X:0,1,...,n$ $$P(X=x)=\binom{n}{x}p^{x}(1−p)^{n−x}$$

1. Cree una función en Python con nombre "binomial" que dado los valores de  n  y  p , retorne las probabilidades para cada valor de la variable  X . Utilice la distribución Binomial para hallar estas probabilidades

In [3]:
import math
import numpy as np

In [97]:
def Binomial(x,n,p):
    return [math.comb(n, i)*p**i*(1-p)**(n-i) for i in x]

In [109]:
x = [0,1,2,3,4,5,6,7,8]
h = Binomial(x,8,0.25)
p=[]
for i in h:
    p.append(round(i,3))
print(h)
print(p)
sum(p)

[0.1001129150390625, 0.2669677734375, 0.31146240234375, 0.2076416015625, 0.086517333984375, 0.0230712890625, 0.00384521484375, 0.0003662109375, 1.52587890625e-05]
[0.1, 0.267, 0.311, 0.208, 0.087, 0.023, 0.004, 0.0, 0.0]

0.9999999999999999

2. Ahora vamos a simular el número de citosinas que habrían en 100 secuencias de ADN de 8 nucleótidos cada una si la probabilidad que un nucleótido cualquiera sea citosina es de 0.25. Utilice para esto la función:

In [106]:
#np.random.seed(1234)
r = np.random.choice(x,100,p)
r

array([6, 6, 3, 4, 3, 2, 8, 4, 5, 4, 1, 3, 8, 7, 7, 2, 1, 5, 3, 2, 0, 6,
       4, 6, 0, 3, 7, 8, 8, 0, 4, 8, 2, 3, 1, 4, 8, 4, 3, 6, 3, 7, 1, 5,
       1, 2, 8, 3, 8, 7, 6, 2, 1, 0, 6, 7, 4, 0, 8, 2, 2, 7, 3, 2, 3, 4,
       2, 6, 2, 3, 5, 2, 8, 5, 6, 1, 8, 6, 6, 5, 7, 2, 7, 6, 0, 6, 4, 4,
       1, 6, 4, 8, 0, 4, 7, 2, 7, 2, 1, 1])

In [108]:
a = []
cont = 0
for i in x :
    for j in r:
        if i == j:
            cont += 1
        
    a.append(cont)
    cont = 0
a

[7, 10, 15, 12, 13, 6, 14, 11, 12]

## Trabajando con la data iris
Descargue los datos de iris y escriba el código necesario que permita reportar:
1. El promedio (o media) y desviación estándar del ancho del pétalo.
2. La clase de flor que tiene la menor longitud del sépalo.
3. Las estadísticas descriptivas del ancho del pétalo para la clase de flor "iris-setosa"

In [139]:
import pandas as pd
from sklearn import datasets

In [153]:
iris = datasets.load_iris()
iris_df=pd.DataFrame(iris.data)
iris_df['class']=iris.target
iris_df.columns=['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris_df.dropna(how="all", inplace=True)
iris_df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [154]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv("iris.data", names = col_names)
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]