## <span style="color: rgb(0, 100, 0)">DISEÑO COMPLETAMENTE AL AZAR</span>
<p style = "color: rgb(0, 0, 255)">El diseño completamente al azar es un prueba basada en el análisis de varianza, en donde la varianza total se descompone en la “varianza de los tratamientos” y la “varianza del error”.</p>

### **Modelo Lineal Aditivo**

$$y_{ij}=u+t_{i}+E_{ij}$$

### **Análisis de Varianza**
| Fuente de variación |  GL |    SC   |           CM          |            F            |
|:-------------------:|:---:|:-------:|:---------------------:|:-----------------------:|
| Tratamientos        | t-1 |  SC(T)  | $$\frac{SC(T)}{t-1}$$ | $$\frac{CM(T)}{CM(E)}$$ |
| Error Exp.          | n-t |  SC(E)  | $$\frac{SC(E)}{n-t}$$ |                         |
| Total               | n-1 | SC(tot) |                       |                         |

$donde:$

$n=n_1+n_2+n_3+...+n_t$ $$F_{cal}=\frac{CM(T)}{CM(E)}\sim F_{(t-1)(n-t)}$$

### <span style="color: rgb(0, 128, 0)">Hipótesis:</span>
$H_0:t_1=t_2=t_3=0$

$H1:$ al menos uno es diferente

1. Escribir una función con el nombre de **anva** que tenga como parámetros de entrada los valores para: SC(T), SC(E), t y n; y retorne una lista o diccionario con los elementos de la tabla: Análisis de varianza. Por ejemplo:

In [3]:
def anva(SCT,SCE,t,n):
    return [["Tratamientos", t-1, SCT, round(SCT/(t-1),2), round((SCT/(t-1))/(SCE/(n-t)),2)],
            ["Error Exp.", n-t, SCE, SCE/(n-t)], 
            ["Total", n-1]]

In [4]:
anva(35.6,1.4,4,12)

[['Tratamientos', 3, 35.6, 11.87, 67.81],
 ['Error Exp.', 8, 1.4, 0.175],
 ['Total', 11]]

2. Cargar el archivo: ***hcvdat0.csv*** y agregar un registro o fila adicional (616) al final de los datos con la siguiente información:

Category: 0=Blood Donor, Age: 80, Sex: m, ALB=38.5, ALP=52.5, ALT=7.7, AST=22.1, BIL=7.5, CHE=6.93, CHOL=3.23, CREA=106, GGT=12.1, PROT=90

In [6]:
import pandas as pd

In [10]:
data = pd.read_csv("hcvdat0.csv")
data.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

3. Con la infomarción agregada reportar las estadísticas descriptivas de la variable Age.

4. ¿Cuántas categorías diferentes tiene la(s) variable(s) categórica?